@CHARSET "UTF-8";
*{ margin:0; padding:0; }
 body,form,ul,li,a,ol,h1,h2,h3,h4,h5,h6,input,textarea,img{margin:0px;padding:0px;}  
ul,li,dl{list-style-type:none;} 
a{text-decoration: none;}
body{font-size: 12px;font-family: "Microsoft YaHei";color:#777777; overflow:auto;background-color: #b0d7f9;position: relative;}
.w_div{width: 100%;height: auto;position:relative; }
.w_top{width: 100%;height: 50px;}
.w_top h1{text-align: center;font-weight: bold;color: black;font-size: 36px;margin-top: 5px;}
.w_content{width: 100%;height:auto;position: absolute;}
.w_contentLeft{width: 60%; height: auto;float: left;margin-left: 10px;float: left;}
.w_contentRight{width: 33%;height: auto;float: left;margin: 0 0 0 10px;}
.w_logo{display: block;float: right;margin-top: -35px;margin-right: 30px;width: 70px;height: 40px;text-align: center;}
.w_conTop{width: 100%;float: left;height: 800px;border: 1px solid blue;margin-bottom: 25px;}
.w_conTop img{display: block;margin: auto;}
.w_conComm{width: 100%;height: auto;float: left;}
.w_conComm input{display: block; width: 300px;height: 50px;float: left;margin-left: 20%;font-size: 22px;}
.w_contentRight ul{width: 100%;height: 45px;}
.w_contentRight li{float: left;text-align: center;width: 49%; height: 40px;background-color: #e5e5e5;border-right-color: black;}
.w_contentRight a{color: black;font-size: 24px;}
.w_conTab{width: 100%;height: auto;margin-top: 0px;}
.w_conTab table{width: 100%;height: auto;text-align: center;border: 1px solid black;}
.w_conTab table caption{font-size: 22px;font-weight: bold;margin-bottom: 10px;}
.w_conTab table thead td{font-size: 22px;font-weight: 400;}
.w_conTab table td{font-size: 17px; border: 1px solid black;}
.w_conTab caption{font-size: 26px;}
.col{background-color: blue;color: white;}
.w_a{width: 100%;height: 35px;margin-bottom: 15px;}
.w_a a{display: block; float: left;width: 50%;text-align: center;background-color: #e5e5e5;}
.w_a a:hover{background-color: white;color: black;}
.w_conTab table tr th{ height:28px; line-height:28px; background:#999}
.w_conTab table tr td{ height:28px; line-height:28px; text-align:center;background:#eee0a7;vertical-align:middle;} 
/* css注释：默认css背景被白色 */
.w_conTab table.stripe tr.alt td { background:#f5f7ea;} 
.w_con1{background: url(../../site_media/img/album-bg1301.png) no-repeat;background-position:0px 0px;float: left;width: 30px;height: 100px;border: 1px solid blue;margin-top: 20%}
.w_con2{background: url(../../site_media/img/album-bg1301.png) no-repeat;background-position:0px 0px;float: left;width: 30px;height: 100px;border: 1px solid blue;margin-top: 20%}
/* .mapicon{width: 100%;height: auto;z-index: 900;} */
 .mapicon img{z-index: 900;width: 30px;height: 40px;position: absolute;} 
.mapicon{width: 100%;height: auto;}
.mapdiv{width: 300px;height: 60px;position: absolute;}
.mapdiv table{width: 100%;text-align: center;height: 100%;}
.mapdiv table tr td{background: #e7ebe9;font-weight: bold;} 
#m1{background: red;border: 1px solid blue;}


body {background-color: #1F5183;margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;}
.p_con{width: 100%;height:840px; background: #3969A9;}
/*background: url(../../site_media/img/004.jpg);background-repeat: no-repeat;*/
.p_content{width: 980px;height: 840px;background-position: 0px 30px;}
.p_top{width: 520px;height: 65px;position: absolute;top: 110px;left: 60px; } 

.p_left{width: 980px;height: auto;float: left;margin-top: 6%;margin-left: 0%;}
.p_corp{float: left;background: url(../../site_media/img/b002.png);background-repeat: no-repeat;width: 50%;height: 63px;text-align: center;color:white;text-decoration: none;padding-top: 20px;font-weight: bold;font-size: 22px;}
.p_star{float: left;background: url(../../site_media/img/b001.png);background-repeat: no-repeat;width: 50%;height: 63px;text-align: center;color:white;text-decoration: none;padding-top: 20px;font-weight: bold;font-size: 22px;}

.p_right{width: 550px;height:auto;color: white;position: absolute;top:300px;left: 60%;font-size: 15px;}
.line003{border-bottom: 1px solid #607495;border-right: 1px solid #607495;color: #539FDF;font-family: "微软雅黑","Arial Unicode MS";font-size: 16px;height: 50px;font-weight: bold;}
.line001 {border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;border-right-color: #607495;border-bottom-color: #607495;font-size: 14px;color: #FFF;}
.line002 {font-size: 14px;color: #FFF;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #607495;}
.f20px {font-family: "微软雅黑", "Arial Unicode MS";font-size: 20px;color: #FFF;font-weight: bold;}
.line005 {border-top-width: 1px;border-right-width: 1px;border-top-style: solid;border-right-style: solid;border-top-color: #62A1D6;border-right-color: #62A1D6;border-left-width: 1px;border-left-style: solid;border-left-color: #62A1D6;}
.p_bottom{width: 530px;height: 65px;position: absolute;top:220px;left: 60%;}


.w_content{padding: 10px;}
.r_top{width: 100%;height: 50px;margin: 20px 0 5px 0;}
.r_top input{float: left;margin-left: 50px;width: 90px;height: 30px;text-align: center;font-weight: bold;font-size: 18px;}
.r_con{width: 100%;height: auto;margin: auto;}
.r_con table{text-align: center;width: 100%;color: black;font-weight: bold;font-size: 20px;}
.r_con table tr th{height: 50px;}
.r_con table tr td{height: 40px;}

.r_con table tr td{background-color:expression((this.parentElement.sectionRowIndex%2==0)?'#efffa7':'#fff')}
.back{float: right;margin-right:60%;}
.maspan{color: black;padding-left: 50px;font-size: 18px;font-weight: bold;}
.r_con1{width: 100%;height: auto;}
.r_con1 table{width: 100%;height: auto;}
.r_con1 talbe tr td{width: 100px;height: 30px;}
.r_con2{width: 100%;height: auto;margin-bottom: 20px;margin-top: 50px;}
.r_con2 input{float: left;margin-left: 100px;width: 150px;height: 50px;margin-bottom: 20px;font-size: 18px;}
.r_con table tr{color: white;}